.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.searchBar{
  
  left: 0;
  right: 0;
  width: 400px;
  box-shadow: 0px 0px 15px 0px rgba(182, 193, 211, 0.1);  
  z-index: 9999;
  transition: 0.3s; 
}


.searchForm{
  width: 100%;
}

.searchForm input{
  border: 0;
  font-size: 14px;   
  border: 1px solid rgba(203, 206, 211, 0.2);
  padding: 7px 38px 7px 8px;  
  transition: 0.3s;
  width: 100%;
  border-radius: 10px;
  background: #EEEEEE;
  border-radius: 16px;
  
 
}
.searchForm button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}
.searchForm button i {
  color: #888888;
}

@media screen and (max-width: 576px) {
  .searchBar{
  width: 100px;
 
  }
  .logo{
    visibility: hidden;
  }
  .Kategori{
  margin-top: 200px;
  }
  
  
}
  


.colorbtn a{
    background: #E2D4F0;
    border-radius: 12px;
}

.btnMasuk{ 
    background-color: #7126B5;  
    border-radius: 12px;
    font-size: 20px; 
}

 
.BannerMobile{
    position:absolute;        
    z-index: 1;
    top:0;
    right: 0;
    left: 0;
    background-blend-mode: screen;
    background: linear-gradient(#FFE9C9, #FFE9CA);  

}
.HeaderMobile{
    margin-top:30px;
}

.HeaderMobile input{
  background: #FFFFFF;
  border: none;
  border-radius: 16px; 
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 250px;
  height: 38px;
  left: 80px;
  top: 38px;
}

.SearchIcons i {
  position: absolute;
  left: 290px;
  top:40px;
  z-index: 1;
}
.HeaderMobile p{
  font-family:sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.btnJual a{
 background-color: #7126B5;
}     

@media (min-width: 992px) {
.login input{
  border-radius: 16px;
  width: 452px;

   
}
.login{
  /* margin-left: 80px; */
  margin-top: 90px;
}
.login button{
  background-color: #7126B5;
  border-radius: 16px;
  width: 452px;
  color: white;
}
  
 }

 
@media (min-width: 1200px) { 
  .login input{
  border-radius: 16px;
  width: 452px;
   
}

.login{
  margin-left: 80px;
  margin-top: 90px;
}
.login button{
  background-color: #7126B5;
  border-radius: 16px;
  width: 452px;
  color: white;
}
  
}

@media (max-width: 576px) { 
  .login button{
    width: 350px;
    background-color:#7126B5;
    border-radius: 16px;
    color: white; 

  }
 
  
}

.login input{
  border-radius: 16px;
}

.login a{
color: #7126B5;
text-decoration: none;
font-weight: bold;
} 

.InfoAkun input{
border: 1px solid #D0D0D0;
border-radius: 16px;
height: 48px;
}
.InfoAkun textarea{
border: 1px solid #D0D0D0;
border-radius: 16px;
 
}

.InfoAkun select{
border: 1px solid #D0D0D0;
border-radius: 16px;
height: 48px;
}

.InfoAkun button{
background-color: #7126B5;
border-radius: 16px;
height: 48px;
color: white;
 
}

.navLogo{
  display: block;
  z-index: 1;
  padding: none;
  margin-left: 50px;
  top:0;
 
}
.PillTab active{
background-color: red;

}